.bg {
    // background-image: url('/images/bg.png');
    // or @imgs
    // background-image: url('../../~images/bg.png');
    background-image: url('/images/bg.png');
    background-image: url('/images/note.svg');
    background-image: url('/images/cogy.jpg');
    background-image: url('/images/cogy.gif');
    background-size: cover;
    width: 100px;
    height: 100px;


    
}