.bg {
    // background-image: url('/images/bg.png');
    // or @imgs
    // background-image: url('../../~images/bg.png');
    background-image: url('/assets/images/bg.png');
    background-image: url('/assets/images/bg.svg');
    background-image: url('/assets/images/bg.jpg');
    background-image: url('/assets/images/bg.gif');
    background-size: cover;
    width: 100px;
    height: 100px;
    color:green;


    
}